In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from wordcloud import WordCloud
import warnings
warnings.filterwarnings('ignore')

In [3]:
data  = pd.read_csv("../data/raw/spam_or_not_spam.csv")
print(data.head(20))

                                                email  label
0    date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...    0.0
1   martin a posted tassos papadopoulos the greek ...    0.0
2   man threatens explosion in moscow thursday aug...    0.0
3   klez the virus that won t die already the most...    0.0
4    in adding cream to spaghetti carbonara which ...    0.0
5    i just had to jump in here as carbonara is on...    0.0
6   the scotsman NUMBER august NUMBER playboy want...    0.0
7   martin adamson wrote isn t it just basically a...    0.0
8   the scotsman thu NUMBER aug NUMBER meaningful ...    0.0
9   i have been trying to research via sa mirrors ...    0.0
10  hello have you seen and discussed this article...    0.0
11  yes great minds think alike but even withput e...    0.0
12  on mon aug NUMBER NUMBER at NUMBER NUMBER NUMB...    0.0
13   from chris garrigues cwg exmh deepeddy com da...    0.0
14  spamassassin is hurting democracy owen URL int...    0.0
15  hi all apologies for the possible silly questi...    0.0
16   in forteana y d mcmann dmcmann b wrote robert...    0.0
17  in a nutshell solaris is suns own flavour of u...    0.0
18  apols if this has been posted before URL rob y...    0.0
19  can someone explain what type of operating sys...    0.0

In [4]:
data.shape

(3032, 2)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3032 entries, 0 to 3031
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   email   3015 non-null   object
 1   label   3000 non-null   float64
dtypes: float64(1), object(1)
memory usage: 47.5+ KB

In [6]:
column_descriptions = {
    'email_id': 'Unique identifier for email',
    'subject': 'Email subject line',
    'message': 'Email body content',
    'label': 'Target variable (0=ham, 1=spam)',
    'date': 'Date email was sent',
    'sender': 'Email sender address'
}

for col, desc in column_descriptions.items():
    if col in data.columns:
        print(f"{col}: {desc}")

label: Target variable (0=ham, 1=spam)

In [7]:
missing_df = pd.DataFrame({
    'column' : data.columns ,
    'missing_count' : data.isnull().sum() , 
    'missing_percentage' : (data.isnull().sum() / len(data)) *100
})
display(missing_df.sort_values('missing_percentage' , ascending= False))

      column  missing_count  missing_percentage
label  label             32            1.055409
email  email             17            0.560686

In [8]:
duplicates = data.duplicated().sum()
print(duplicates)
if duplicates > 0:
    duplicate_samples = data[data.duplicated()].head()
    display(duplicate_samples)

142

                                                 email  label
319  i think that this and other articles confuse s...    0.0
320  i think that this and other articles confuse s...    0.0
462  i agree with rob i think if the phones and mms...    0.0
572                                                NaN    NaN
674                                                NaN    NaN

In [9]:
dtype_df = pd.DataFrame({
    'column': data.columns,
    'dtype': data.dtypes,
    'unique_values': data.nunique()
})
display(dtype_df)

      column    dtype  unique_values
email  email   object           2888
label  label  float64              2

In [12]:
target_counts = data['label'].value_counts()
target_percent = data['label'].value_counts(normalize= True) *100
print(target_counts )
print(target_percent)

label
0.0    2500
1.0     500
Name: count, dtype: int64
label
0.0    83.333333
1.0    16.666667
Name: proportion, dtype: float64